setuptools<81  # pyworld needs pkg_resources, removed in setuptools>=81
numpy>=1.23.5,<2
scipy
librosa==0.10.2
soundfile
sounddevice
pedalboard
faiss-cpu
praat-parselmouth
pyworld
torchcrepe
ffmpeg-python
fairseq==0.12.2
websockets
tqdm
